/**,
*::before,
*::after {
	box-sizing: border-box;
}*/
body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1366px;
}

.flex {
    display: flex;
}

.container
ul {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.container
ul .nav-link {
    color: #1d1d1d;
    font-weight: 500;
}

.container
ul a:hover {
    text-decoration: underline;
}

.container
ul .nav-link.active {
    text-decoration: underline;
}

.logo {
    padding-top: 8px;
    padding-right: 520px;
    justify-content: space-between;
}

.container .justify-content-end {
    margin: 0 auto;
}

.background {
    background-image: url("../images/background2.jfif");
    background-position: center;
    background-size: cover;
}

.hero .container {
    margin-right: 0;
}

.hero {
    flex-direction: column;
    max-width: 485px;
    align-self: flex-end;
    text-align: left;
    justify-content: flex-end;
}

.hero h1 {
    padding-top: 325px;
    font-weight: 500;
    font-size: 2.375rem;
    line-height: 1.2631;
    letter-spacing: 0.010em;
    color: #1d1d1d;
    margin: 0 0 24px;
}

.hero h2 {
    padding-top: 35px;
    font-size: 1.125rem;
    padding-bottom: 35px;
    color: #787878;
    font-weight: 400;
    line-height: 1.5555;
    margin: 0;
}

.hero button {
    margin-bottom: 200px;
}

.description {
    margin: 0 auto;
    max-width: 590px;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 110px;
}

.description h1 {
    padding-bottom: 40px;
    color: #191919;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2;
    letter-spacing: 0.010em;
}

.description p {
    font-weight: 400;
    color: #787878;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.005em;
}

.description img {
    padding-top: 30px;
}

.third-section {
    background-color: #f8f9f9;
    position: relative;
    margin: 0;
    padding: 165px 0;
}

.third-section .container {
    margin: 0 auto;
    display: flex;
}

.third-section .container .skills-content {
    margin: 0;
    width: 50%;
    align-self: center;
}

.third-section .proffesional-skills {
    padding: 0px 83px 0px 0px;
    display: flex;
    flex-direction: column;
}

.third-section h2 {
    margin: 0;
    color: #171717;
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: 0.010em;
}

.third-section p {
    color: #000000;
    margin: 0;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.100em;
    text-transform: uppercase;
    padding: 41px 0 20px;
}

.third-section .proffesional-skills-level {
    height: 3px;
    max-width: 500px;
}

.third-section .proffesional-skills-level.design {
    background: linear-gradient(270deg, #d8d8d8 25%, #17a2b8 25%);
}

.third-section .proffesional-skills-level.development {
    background: linear-gradient(270deg, #d8d8d8 10%, #17a2b8 10%);
}

.third-section .proffesional-skills-level.marketing {
    background: linear-gradient(270deg, #d8d8d8 35%, #17a2b8 35%);
}

.third-section .container img {
    position: absolute;
    width: 50%;
    object-fit: cover;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
}

.fourth-section {
    background-color: #17a2b8;
    padding: 75px 0;
}

.row {
    justify-content: space-between;
}

.row .column {
    align-items: center;
    display: flex;
    padding: 25px 25px;
    max-width: 235px;
}

.fourth-section i {
    color: white;
    font-size: 2.5rem;
    margin-right: 27px;
}

.fourth-section .column-content {
    text-align: left;
    margin: 0;
}

.fourth-section .column-content h3 {
    margin: 0 0 16px;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.030em;
}

.fourth-section p {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
}

.fifth-section .link a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #8e8e8e;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    padding-top: 45px 0;
    position: relative;
}

.fifth-section .link a .overlay {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
}

.fifth-section .link a:hover .overlay {
    display: block;
    height: 100%;
    color: white;
}

.fifth-section .link a:hover {
    color: black;
}

.fifth-section .container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding-right: 0;
    padding-left: 0;
}

.fifth-section .container a {
    position: relative;
    width: 25%;
}

.fifth-section .container a img {
    width: 100%;
    display: block;
}

.fifth-section .container a .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
}

.fifth-section .container a .overlay img {
    width: 100%;
    margin: 0 auto;
}

.fifth-section .container a:hover .overlay {
    display: flex;
}

.fifth-section .img-section-more {
    display: none;
    flex-wrap: wrap;
    max-width: 1366px;
    margin: 0 auto;
}

.fifth-section .img-section-more a {
    position: relative;
    display: block;
    width: 25%;
}

.fifth-section .img-section-more a img {
    width: 100%;
    display: block;
}

.fifth-section .img-section-more a .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
}

.fifth-section .img-section-more a .overlay img {
    width: 100%;
    margin: 0 auto;
}

.fifth-section .img-section-more a:hover .overlay {
    display: flex;
}

.fifth-section .show {
    display: flex;
}

.fifth-section .link {
    margin: 0 auto;
    padding: 45px 0;
}

.fifth-section .link a .all-gallery {
    display: none;
}

.fifth-section .link a .closed {
    display: none;
}

.fifth-section .link a .open {
    display: inline;
}

.sixth-section .container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixth-section .container .text h2 {
    margin: 0 auto;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: 0.010em;
    padding-top: 95px;
}

.sixth-section .container .text p {
    max-width: 505px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.005em;
    font-weight: 400;
    color: #787878;
    padding: 40px 0 40px;
}

.sixth-section .container .text .video-container {
    max-width: 1280px;
    position: relative;
    cursor: pointer;
}

.sixth-section .container .text .video-container .video {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.sixth-section .container .text .video-container .controls {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.sixth-section .container .text .video-container .controls:hover {
    opacity: 1;
}

.sixth-section .container .text .video-container .controls.hide-controls {
    opacity: 0;
}

.sixth-section .container .text .video-container .controls .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sixth-section .container .text .video-container .controls .button {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #FFF;
    border-radius: 50%;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.sixth-section .container .text .video-container .controls .button.hidden {
    display: none;
}

.seventh-section {
    background-color: #f5f5f5;
}

.seventh-section .container.flex {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0 100px;
    margin-top: 100px;
}

.section-column {
    width: 25%;
    padding: 0 17.5px 55px;
}

.section-column i {
    color: #8b8b8b;
    font-size: 2.75rem;
    margin: 0 auto;
    padding-bottom: 25px;
}

.section-column h4 {
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 26px 0 19px;
}

.section-column p {
    color: #787878;
    font-style: normal;
    font-size: 1.0rem;
}

.eighth-section {
    background-color: #17a2b8;
    padding: 172px 0px 58px;
}

.eighth-section .container {
    margin: 0 auto;
}

.eighth-section .container .carousel {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.eighth-section .container .carousel-item h3 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.eighth-section .container .carousel-item h5 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 35px 0 100px;
    text-align: center;
    text-transform: uppercase;
}

.ninth-section {
    padding: 65px 0;
}

.ninth-section .container {
    max-width: 1366px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ninth-section .container img {
    padding: 20px 20px;
    max-width: 140px;
}

.tenth-section {
    background-color: #f5f5f5;
}

.tenth-section .container {
    margin: 0 auto;
    padding: 100px 0 100px;
}

.tenth-section-content h2 {
    color: #1d1d1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.tenth-section-content p {
    margin: 0 auto;
    text-align: center;
    color: #919191;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 40px 0 40px;
    max-width: 545px;
}

form {
    max-width: 675px;
    margin: 0 auto;
}

form .nameEmail {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
    width: 100%;
    margin: 0 auto;
}

.nameEmail .name {
    width: calc(50% - 15px);
}

.nameEmail .name input {
    border: none;
    width: 100%;
    padding: 20px 15px;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.6;
}

.nameEmail .email {
    width: calc(50% - 15px);
}

.nameEmail .email input {
    border: none;
    width: 100%;
    padding: 20px 15px;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.6;
}

.title {
    width: 100%;
    margin: 0 0 30px;
}

.title input {
    border: none;
    width: 100%;
    padding: 19px 16px;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-top: 30px;
}

.comment {
    width: 100%;
    margin: 0 0 20px;
}

.comment textarea {
    width: 100%;
    border: none;
    padding: 19px 16px;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
}

form .submit-btn {
    text-align: center;
}

form .submit-btn button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    color: white;
    background-color: #17a2b8;
    padding: 23px 46px;
}
/*# sourceMappingURL=style.css.map */